@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color:azure;
  color: #111;

}
/*
/* Contenedor principal */
.container {
  
  display: grid;
  grid-template-areas: 
    "menu nav"
    "menu content";
  grid-template-columns: 200px 1fr; /* Menu con ancho fijo, contenido dinámico */
  grid-template-rows: auto 1fr; /* Fila para nav y fila para contenido */
  height: 100vh; /* Altura completa de la ventana */
}

/* Estilo para el menú a la izquierda */
.menu {
  grid-area: menu;
  background-color: azure;
  padding: 10px;
  border-right: 1px solid azure;
}

/* Estilo para el nav en la parte superior derecha */
.nav {
  grid-area: nav;
  background-color: rgb(222, 235, 235);
  color:black;
  padding: 10px;
  text-align: right; /* Alineación a la derecha */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height:80px;
 
  border-radius: 15px;
  border: 10px solid azure;
  
  

}
.nav ul{
  list-style-type: none; /* Eliminar viñetas de la lista */
  display: flex;
  gap: 2em;
}
.nav ul li:hover{

  box-shadow: #aaa3d3;
  cursor: pointer;

  border-bottom: 3px  solid rgb(42, 151, 151);
}
/* Estilo para el contenido principal */
.content {
  
  grid-area: content;
  padding: 5px;
  overflow: auto;
  background: #d8e0e7;
  border: 10px solid azure;/* Para permitir desplazamiento si el contenido es largo */
}
/* Estilo del menú en forma de "card" */
.menu-card {
  background-color: #464343; /* Fondo oscuro como en la imagen */
  color: azure; /* Texto blanco */
  width: 100%; /* Ancho fijo del menú */
  border-radius:10px;
  padding: 20px; /* Espaciado interior */
  height: 100vh; /* Altura completa de la ventana */
  display: flex;
  flex-direction: column; /* Disposición de los elementos en columna */
  justify-content: flex-start; /* Alineación al inicio */
  border-right: 1px solid azure; /* Borde derecho para separación */
 
 
  align-items: center; 
}

/* Estilo de la lista del menú */
.menu-list {
  list-style-type: none; /* Eliminar viñetas de la lista */
  padding: 0; /* Sin relleno */
  margin: 0; /* Sin margen */
}

.menu-list li {
  padding: 5px 0; /* Espaciado entre los elementos de la lista */
  cursor: pointer; /* Indicador de cursor de enlace */
  font-size: 1rem; /* Tamaño de fuente estándar */
  transition: background-color 0.3s; /* Efecto de transición para hover */
}
.menu-list li Link {
  background: #aaa3d3;
  text-decoration: none;
}


/* Efecto hover para los elementos de la lista */
.menu-list li:hover {
  background-color: #2e5250; /* Fondo más claro al hacer hover */
  border-radius: 5px; /* Bordes redondeados */
}
.imagen-usuario {
  
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  height: 100px; /* Asegúrate de que el ancho y el alto sean iguales para mantener la forma circular */
  border-radius: 50%; /* Esto hace que la imagen sea circular */
  object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del círculo */
  box-shadow: 0px 4px 20px rgba(35, 142, 168, 0.3); /* Añade la sombra */

  
}
